<link href="https://fonts.googleapis.com/css?family=Ubuntu"
      rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content ="width=device-width, initial-scale=1.0">
  <title>Legend Bistro</title>
</head>
<script src="index.js" async></script>
<style src="index.css" async></style>
<body>
  <h1>Legend Bistro</h1>
  <menu type="button" id="menu-btn" >Menu's</menu>
  <div id="menu" class=="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Menu's</h2>
      <p>Pepperoni pizza</p>
      <img src="/4.0/images/pepperoni_pizza.jpg" alt="Pepperoni pizza" style="width:100%">
      <p>Cheese pizza</p>
      <img src="/4.0/images/cheese_pizza.jpg" alt="Cheese pizza" style="width:100%">
      <p>Hawaiian pizza</p>
      <img src="/4.0/images/hawaiian_pizza.jpg" alt="Hawaiian pizza" style="width:100%">
      <p>Meat pizza</p>
      <img src="/4.0/images/meat_pizza.jpg" alt="Meat pizza" style="width:100%">
      <p>Veggie pizza</p>
      <img src="/4.0/images/veggie_pizza.jpg" alt="Veggie pizza" style="width:100%">
      <p>Chicken pizza</p>
      <img src="/4.0/images/chicken_pizza.jpg" alt="Chicken pizza" style="width:100%">  
      <p>Spicy pizza</p>
      <img src="/4.0/images/spicy_pizza.jpg" alt="Spicy pizza" style="width:100%">
    </div>
  </div>
</body>
</html>